SERPER_API_KEY="your_serper_api_key"
GOOGLE_API_KEY_1="your_google_gemini_api_key_1"
# GOOGLE_API_KEY_2="your_google_gemini_api_key_2"
# ...thêm bao nhiêu key tùy ý...
# GOOGLE_API_KEY_6="your_google_gemini_api_key_6"
MISTRAL_API_KEY="your_mistral_api_key" # (Tùy chọn, nếu muốn dùng Mistral OCR)

# Cấu hình gửi Email (sử dụng Gmail và Mật khẩu Ứng dụng)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SENDER_EMAIL="your_email@gmail.com" # gmail của bạn
SMTP_PASSWORD="16chucai_matkhauungdung" # mật khẩu gmail app không phải mật khẩu gmail của bạn
