crewai
crewai-tools
python-dotenv
langchain-google-genai
mistralai
vnstock
pandas
numpy
streamlit
streamlit-chat
beautifulsoup4
google
requests
tenacity
certifi
Flask
Flask-SocketIO
Flask-Cors
eventlet
schedule
weasyprint
markdown2
matplotlib
mplfinance
pdfkit