crewai
crewai-tools
crewai[google-genai]
datasets
python-dotenv
langchain-google-genai
mistralai
vnstock==3.2.6
vnai==2.1.9
pandas
llama-index
llama-index-core
llama-index-llms-gemini
llama-index-embeddings-gemini
numpy
streamlit
streamlit-chat
beautifulsoup4
google
google-generativeai
requests
tenacity
certifi
Flask
Flask-SocketIO
Flask-Cors
eventlet
schedule
weasyprint
markdown2
matplotlib
mplfinance
pdfkit
certifi
ragas